*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    position: relative;
}

.modal-delete{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* display: none; */
    align-items: center;
    justify-content: center;
}

.modal-container{
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}